<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Candid - $title$</title>
		<link rel="stylesheet" href="/css/default.css" />
		<script src="https://hypothes.is/embed.js" async></script>
	</head>
	<body>
		<header>
			<div class="logo">
				<a href="/">Candid</a> - <a href="./">$title$</a>
			</div>
			<nav>
				<a href="/about/">About</a>
				<a href="/contact/">Contact</a>
				<a href="/archive/">Archive</a>
			</nav>
		</header>

		<main role="main">
			$body$
		</main>

	</body>
</html>
